{% import "macros/macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="{{lang}}">
{% include "partials/header.html" %}

<body>
    <div class="content">
        {% include "partials/head.html" %}

        {% block main_content %}
        {% if config.extra.profile %}
             <img class="profile" src={{ config.extra.profile }} />
        {% endif %}

        <main class="list">
            <div class="site-description">
                {% if config.description %}
                    {{ config.description | markdown | safe }}
                {% endif %}
            </div>
        <div>
          {% for social in config.extra.social %}
              <a class="soc" href={{ social.url }} title={{ social.name }}>
                        <i class="{{ social.icon }}"></i>
              </a>
          {% endfor %}
        </div>
        </main>

        {% endblock main_content %}

        {% include "partials/footer.html" %}
    </div>
</body>

</html>
